<!doctype html>
<html lang=en>
<head>
<meta charset=utf-8>
<title>{{ repo_details.name | replace("-", " ") | title }} Branches</title>
<link rel="stylesheet" href="branches.css">
</head>
<body>
<header>
    <h1>Playable branches from <a href="{{ repo_details.html_url}}">{{ repo_details.full_name }}</a></h1>
</header>
<main>
<ul>
{% if latest_release %}
    <li>
        <b><a href="../" title="Play this release">Latest release: {{ latest_release.data.name }} ▶️</a></b>
        <br/>
        <span class="build">
            Built on
            <time datetime="{{ latest_release.asset.updated_at }}">{{
                latest_release.asset.updated_at | from_iso8601 | pretty_datetime
            }}</time>
            from tag
            <a href="{{ latest_release.data.html_url }}">{{
                latest_release.data.tag_name
            }}</a>
        </span>
    </li>
{% endif %}
{% for branch in branches %}
    <li>
        <b>
        {% if branch.relative_path %}
            <a href="{{ branch.relative_path | urlencode }}" title="Play this branch">
                {%- if branch.is_default -%}
                    Latest development build
                {%- else -%}
                    {{ branch.name }}
                {%- endif %} ▶️</a>
        {% else %}
            {{ branch.name }}
        {% endif %}
        </b>
        {% if branch.pull_request %}
            <br/>
            <span class="pr">
                From pull request
                <a href="{{ branch.pull_request.html_url }}">{{ branch.pull_request.title }} #{{ branch.pull_request.number }}</a>
            </span>
        {% endif %}
        <br/>
        <span class="build">
        {% if not branch.build %}
            Never built.
        {% elif branch.build.artifact["expired"] %}
            Build expired on
            <a href="{{ branch.build.workflow_run.html_url }}">
                <time datetime="{{ branch.build.artifact["expires_at"] }}">{{
                    branch.build.artifact["expires_at"] | from_iso8601 | pretty_datetime
                }}</time></a>
        {% else %}
            Built on
            <a href="{{ branch.build.workflow_run.html_url }}">
                <time datetime="{{ branch.build.artifact["updated_at"] }}">{{
                    branch.build.artifact["updated_at"] | from_iso8601 | pretty_datetime
                }}</time></a>
            from commit
            <a href="{{ branch.build.workflow_run.head_repository.html_url }}/commit/{{ branch.build.workflow_run.head_sha }}">{{
                branch.build.workflow_run.head_sha[:7]
            }}</a>
            on branch
            <a href="{{ branch.build.workflow_run.head_repository.html_url }}/commits/{{ branch.name }}">{{
                branch.name
            }}</a>
        {% endif %}
        </span>
    </li>
{% endfor %}
</ul>
</main>
<footer>
    Created with <a href="https://github.com/endlessm/amalgamate-pages">Amalgamate Pages</a> at
    <time datetime="{{ generation_time.isoformat() }}">{{
        generation_time | pretty_datetime
    }}</time>.
</footer>
</body>
</html>
