<!doctype html>
<html lang=en>
<head>
<meta charset=utf-8>
<title>{{ title }}</title>
</head>
<body>
<ul>
{% for branch in branches %}
    <li>
        <b>
        {% if branch.relative_path %}
            <a href="{{ branch.relative_path | urlencode }}">{{ branch.name }}</a>
        {% else %}
            {{ branch.name }}
        {% endif %}
        </b>
        {% if branch.pull_request %}
            <br/>
            <span class="pr">
                From pull request
                <a href="{{ branch.pull_request.html_url }}">#{{ branch.pull_request.number }}: {{ branch.pull_request.title }}</a>
            </span>
        {% endif %}
        <br/>
        <span class="build">
        {% if not branch.build %}
            Never built.
        {% elif branch.build.artifact["expired"] %}
            Build expired on
            <a href="{{ branch.build.workflow_run.html_url }}">
                <time datetime="{{ branch.build.artifact["expires_at"] }}">{{
                    branch.build.artifact["expires_at"] | pretty_datetime_from_iso8601
                }}</time>
            </a>
        {% else %}
            Built on
            <a href="{{ branch.build.workflow_run.html_url }}">
                <time datetime="{{ branch.build.artifact["updated_at"] }}">{{
                    branch.build.artifact["updated_at"] | pretty_datetime_from_iso8601
                }}</time>
            </a>
            &nbsp;from commit
            <a href="{{ branch.build.workflow_run.head_repository.html_url }}/commit/{{ branch.build.workflow_run.head_sha }}">{{
                branch.build.workflow_run.head_sha[:7]
            }}</a>
        {% endif %}
        </span>
    </li>
{% endfor %}
</ul>
</body>
</html>
